@media screen and (max-width: 878px) {

    /* home responsividade */
    header {
        padding: 20px;
    }

    #inicio,
    #destinos,
    #contato,
    #como-funciona,
    #hoteis {
        scroll-margin-top: 70px;
    }


    header .btn-menu-mob {
        display: block;
        z-index: 4;
    }

    header .menu-desktop {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        width: 100dvw;
        height: 100dvh;
        background-color: #000;
        transform: translateX(100%);
        transition: .4s ease-in-out;
        padding: 75px 0 0 0;
    }

    header .menu-desktop nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .menu-desktop nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 0;
    }

    header .menu-desktop nav ul li {
        padding: 25px;
        transition: .2s ease-in-out;
    }

    header .menu-desktop nav ul li a:hover {
        color: #000;
    }

    header .menu-desktop nav ul li:has(a:hover) {
        background-color: #fff;
    }

    .menu-desktop.ativo {
        transform: translateX(0);
    }

    header .btn-contato {
        display: none;
    }

    header .logo img {
        max-width: 30px;
    }

    /* hero responsividade */
    .hero-site .txt-hero {
        width: 50%;
    }

    .hero-site .txt-hero h1 {
        font-size: 2.6em;
        line-height: 45px;
    }

    .hero-site .txt-hero p {
        font-size: 14px;
    }

    .hero-site button {
        font-size: 18px;
    }

    /* vantagens responsividade */
    .vantagens .itens-container {
        flex-direction: column;
    }

    .vantagens .itens-container .img-itens img {
        width: 100%;
    }

    .vantagens .itens-container .txt-itens p {
        margin-bottom: 20px;
    }

    .vantagens .itens-container .item-1 {
        order: 1;
    }

    .vantagens .itens-container .item-2 {
        order: 0;
    }

    /* contato responsividade */
    .txt-contato,
    .icons-contato {
        display: block;
        width: 100%;
    }

    .contato .txt-contato p {
        margin-bottom: 20px;
    }

    .contato .icons-contato a button {
        width: 100%;
        padding: 0 40px;
    }

    /* hospedagens responsividade */
    .hoteis h3 {
        font-size: 2.3em;
        line-height: 40px;
    }

    .hoteis p {
        font-size: 16px;
    }

    /* como funciona respinsividade */
    .txt-funciona,
    .instrucoes {
        display: block;
        width: 100%;
    }

    .como-funciona .txt-funciona {
        position: static;
    }

    .como-funciona .txt-funciona h3 {
        font-size: 3em;
        line-height: 50px;
    }

    .instrucoes .instru-box {
        flex-direction: column;
        text-align: center;
    }

    /* footer responsividade */
    footer .middle-footer a {
        margin: 15px 0;
        display: block;
    }

    footer .bottom-footer p {
        font-size: 14px;
    }
}